<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tiny service health dashboard written in Go">
    <meta name="author" content="Marcin Tojek">

    <title>GreenWall - Tiny service health dashboard written in Go</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    .with-overflow {
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body onload="setTimeout('document.location.reload();', {{.RefreshDashboardEvery}} * 1000);">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">GreenWall</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {{ range $i, $group := .HealthStatus.Groups }}
                    <li>
                        <a href="#{{ $group.Anchor }}">{{ $group.Name }}</a>
                    </li>
                    {{ end }}
                </ul>
                <p class="navbar-text navbar-right" style="padding-right: 16px">
                    Last refresh: <strong>{{.LastRefreshTime}}</strong> (refresh every {{.RefreshDashboardEvery}}s)
                </p>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container-fluid">
        {{ range $i, $group := .HealthStatus.Groups }}
        <div id="{{ $group.Anchor }}" class="row">
            <div class="col-lg-12">
                <h3>{{ $group.Name }}</h3>
            </div>
        </div>
        <div class="row">
            {{ range $i, $node := $group.Nodes }}
            <div class="col-md-2 col-sm-3 col-xs-6">
                <div class="alert alert-{{ $node.Status }}">
                    <div style="margin-bottom: 10px;">
                        <div><strong>Name</strong></div>
                        <div class="with-overflow" title="{{ $node.Name }}">{{ $node.Name }}</div>
                    </div>
                    <div style="margin-bottom: 10px;">
                        <div><strong>HTTP endpoint</strong></div>
                        <div class="with-overflow">
                            <a href="{{ $node.Endpoint }}" title="{{ $node.Endpoint }}" class="alert-link" target="_new">{{ $node.Endpoint }}</a>
                        </div>
                    </div>
                    <div>
                        <div><strong>Status</strong></div>
                        <div class="with-overflow" title="{{ $node.Message }}">{{ $node.Message }}</div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
        <!-- /.row -->
        {{ end }}
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <div class="container-fluid">
        <br/>
        <p style="text-align: center">
            Created by <a href="http://marcin.tojek.pl/" target="_new">Marcin Tojek</a> and distributed under
            MIT license. Feel free to use it.
        </p>
        <br/>
    </div>

    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
